.Card{
    height: 55rem;
    width: 40rem;
    margin: 1rem 5rem 1rem 5rem;
    background-color: white;
    border-radius: 3rem;
    fill-opacity: 60%;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 18px rgba(128, 128, 128, 0.2);
}