.Navbar{
    padding: .5rem 5rem .5rem 5rem;
    background-color: #2c3e50;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 4rem;
    font-weight: 300;
    color: #bdc3c7;
    transition: all .2s ease-in;
}
.logo:hover{
    color: White;
    
}
.searchBox{
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.8rem;
    text-align: center;
    color: black;
    outline: none;
    background-color: #f1f2f6;
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.199);
}

nav
{
    display: flex;
    align-items: center;
    height: 100%;
    transform: translateY(0%);
}

nav a
{
    text-align: center;
    position: relative;
    color: #bdc3c7;
    text-decoration: none;
    font-weight: 300;
    font-size: 2.5rem;
    padding: 0 1.5rem;
    transition: 0.2s ease color;
}

nav a:before, nav a:after
{
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
}

nav a:before
{
    top: -5px;
    left: 10px;
    width: 6px;
    height: 6px;
}

nav a:after
{
    top: 0;
    left: 18px;
    width: 4px;
    height: 4px
}

nav a:nth-child(1):before
{
    background-color: yellow;
}

nav a:nth-child(1):after
{
    background-color: red;
}

nav a:nth-child(2):before
{
    background-color: #00e2ff;
}

nav a:nth-child(2):after
{
    background-color: #89ff00;
}

nav a:nth-child(3):before
{
    background-color: #7ed6df;
}

nav a:nth-child(3):after
{
    background-color: #ffbe76;
}

#indicator
{
    position: absolute;
    left: 5%;
    bottom: 0;
    width: 5rem;
    height: 3px;
    background-color: white;
    border-radius: 5px;
    transition: 0.2s ease left;
}

nav a:hover
{
    color: #fff;
}

nav a:hover:before, nav a:hover:after
{
    transform: scale(1);
}

nav a:nth-child(1):hover ~ #indicator
{
    background: linear-gradient(130deg, yellow, red);
}

nav a:nth-child(2):hover ~ #indicator
{
    left: 37%;
    background: linear-gradient(130deg, #00e2ff, #89ff00);
}

nav a:nth-child(3):hover ~ #indicator
{
    left: 73%;
    background: linear-gradient(130deg, #7ed6df, #ffbe76);
}
